@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Vendor Details: </h1>
  <br>
  <h3>Order: @Model["order"].Title</h2>
  <h6>Description: @Model["order"].Description</h2>
  <h6>Price: $@Model["order"].Price</h2>
  <h6>Date Ordered: @Model["order"].Date.Month/@Model["order"].Date.Month/@Model["order"].Date.Year</h2>
  <br>
  <br>
  <h3>Vendor: @Model["vendor"].Name</h3>
  <br>
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
  <p><a href='/vendors/@Model["vendor"].Id/orders'>View all orders</a></p>
  <p><a href='/vendors'>View all vendors</a></p>
</div>
@await Html.PartialAsync("Footer")

